# Ignore artifacts:
build
coverage
.prettierrc.js
.gitignore
.prettierignore
package-lock.json
package.json
public/
schemas/
views/
tsconfig.json
.env
chroma.log
prisma/
.husky/
docker-compose.yml
Dockerfile
collections/
.env.sample
yarn.lock
.history
components.json
eslint.config.mjs
next-env.d.ts
next.config.ts
postcss.config.mjs
prisma.config.ts
README.md
tsconfig.json
.next/
app/globals.css
app/favicon.ico